<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span *ngIf="active && property.id">{{ "Edit Property" }}</span>
                <span *ngIf="active && !property.id">{{
                    l("Create Property")
                    }}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <a [routerLink]="['/app/main/entities/properties']" class="kt-subheader__breadcrumbs-home"><i
                        class="flaticon2-shelter"></i> &nbsp;
                    {{ l("Property") }}</a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                    <span *ngIf="active && property.id">{{ l("Edit") }}</span>
                    <span *ngIf="active && !property.id">{{
                        l("Create")
                        }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Property_Type">Property Type </label>
                        <select id="Property_Type"
                                name="languageName"
                                class="form-control"
                                [(ngModel)]="property.propertyTypeId"
                                required>
                            <option *ngFor="let item of propertyTypeLookupList" [value]="item.id">{{item.displayName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Property_Address">{{ l("Address") }} *</label>
                        <input type="text" #Property_Address="ngModel" id="Property_Address" class="form-control"
                            [(ngModel)]="property.address" name="Address" required />
                        <validation-messages [formCtrl]="Property_Address"></validation-messages>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Property_OfferContact">Offer Contact</label>
                        <input type="text" #Property_OfferContact="ngModel" id="Property_OfferContact"
                            class="form-control" [(ngModel)]="property.offerContact" name="OfferContact" />
                        <validation-messages [formCtrl]="Property_OfferContact"></validation-messages>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Property_PropertySpecs">{{
                            l("PropertySpecs")
                            }}</label>
                        <input type="text" #Property_PropertySpecs="ngModel" id="Property_PropertySpecs"
                            class="form-control" [(ngModel)]="property.propertySpecs" name="PropertySpecs" />
                        <validation-messages [formCtrl]="Property_PropertySpecs"></validation-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Property_Description">{{ l("Description") }} *</label>
                        <input type="text" #Property_Description="ngModel" id="Property_Description"
                            class="form-control" [(ngModel)]="property.description" name="Description" required />
                        <validation-messages [formCtrl]="Property_Description"></validation-messages>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Property_WholeSalePrice">Wholesale Price</label>
                        <input #Property_WholeSalePrice="ngModel" id="Property_WholeSalePrice" class="form-control"
                            [(ngModel)]="property.wholeSalePrice" name="WholeSalePrice" pattern="\d*" maxlength="10" />
                        <validation-messages [formCtrl]="Property_WholeSalePrice"></validation-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Property_EstimatedARV">Estimated ARV</label>
                        <input #Property_EstimatedARV="ngModel" id="Property_EstimatedARV" class="form-control"
                            [(ngModel)]="property.estimatedARV" name="EstimatedARV" pattern="\d*" maxlength="10" />
                        <validation-messages [formCtrl]="Property_EstimatedARV"></validation-messages>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Property_EstimatedRehab">Estimated Rehab</label>
                        <input #Property_EstimatedRehab="ngModel" id="Property_EstimatedRehab" class="form-control"
                            [(ngModel)]="property.estimatedRehab" name="EstimatedRehab" pattern="\d*" maxlength="10" />
                        <validation-messages [formCtrl]="Property_EstimatedRehab"></validation-messages>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Property_ViewingDescription">Viewing Description</label>
                        <input type="text" #Property_ViewingDescription="ngModel" id="Property_ViewingDescription"
                            class="form-control" [(ngModel)]="property.viewingDescription" name="ViewingDescription" />
                        <validation-messages [formCtrl]="Property_ViewingDescription"></validation-messages>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Property_EMDRequirement">EMD Requirement</label>
                        <input #Property_EMDRequirement="ngModel" id="Property_EMDRequirement" class="form-control"
                            [(ngModel)]="property.emdRequirement" name="EMDRequirement" pattern="\d*" maxlength="10" />
                        <validation-messages [formCtrl]="Property_EMDRequirement"></validation-messages>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="form-group col-md-6">
                        <label for="Property_ViewingContact">Viewing Contact</label>
                        <input type="text" #Property_ViewingContact="ngModel" id="Property_ViewingContact"
                            class="form-control" [(ngModel)]="property.viewingContact" name="ViewingContact" />
                        <validation-messages [formCtrl]="Property_ViewingContact"></validation-messages>
                    </div>
                    <div class="  col-md-3">
                        <label for="propertyStatusForRent">
                            <input type="radio" id="propertyStatusForRent" [(ngModel)]="property.propertyStatus"
                                name="propertyStatus" [value]="PropertyStatus.IsForRent" />
                            <span class="ml-1"> For Rent</span>
                        </label>

                        <label class="ml-5" for="propertyStatusForSale">
                            <input type="radio" id="propertyStatusForSale" [(ngModel)]="property.propertyStatus"
                                name="propertyStatus" [value]="PropertyStatus.IsForSale" />
                            <span class="ml-1">For Sale</span>
                        </label>
                    </div>

                    <div class="  col-md-3">
                        <label for="Property_isFeatured">Is Featured</label>
                        <input type="checkbox" id="Property_isFeatured" [(ngModel)]="property.isFeatured"
                            name="isFeatured" class="ml-3" />
                    </div>
             
                </div> 

                <ng-container *ngIf="!isEditMode">
                    <app-file-upload [Id]="propertyId"></app-file-upload>
                </ng-container>
    
                <ng-container *ngIf="this.propertyId && !!isEditMode">
                    <app-uploaded-files [PropertyId]="this.propertyId"></app-uploaded-files>
                </ng-container>
            </div>

            <div class="kt-portlet__foot">
                <div class="col-lg-12">
                    <button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                    <!-- <button
                        *ngIf="!this.property.id"
                        (click)="saveAndNew()"
                        class="btn btn-primary blue float-right"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l("SaveAndNew") }}</span>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>