<div style="background-color: #11486d; height: 13vh" class="row"></div>

<!-- Agent Single Grid View -->
<section class="listing-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="single_property_title mt30-767">
                    <h2>{{ this.detail?.property?.description }}</h2>
                    <p>{{ this.detail?.property?.address }}</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="single_property_social_share mt20">
                    <div class="price text-right tal-400">
                        <h2>
                            ${{
                                this.detail?.property?.wholeSalePrice | number
                            }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listing Single Property -->
<section class="listing-title-area p0">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of detail?.propertyFiles">
                <div
                    class="col-md-6 col-lg-4 align-items-center justify-content-center card"
                >
                    <div class="item">
                        <img
                            class="img-fluid"
                            [src]="item?.imageBytes"
                            (error)="setDefaultImage($event)"
                        />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section class="our-agent-single bgc-f7 pb30-991">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mt50">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="listing_single_description">
                            <h4 class="mb30">Description</h4>
                            <p class="mb25">
                                {{ this.detail?.property?.description }}
                            </p>

                            <h4 class="mb30">Viewing Descripton</h4>
                            <p class="mb25">
                                {{ this.detail?.property?.viewingDescription }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="additional_details">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb15">Property Details</h4>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <ul class="list-inline-item">
                                        <li><p>Estimated ARV :</p></li>
                                        <li><p>Estimated Rhab :</p></li>
                                        <li><p>EMD Requirement :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.estimatedARV | number
                                                }}</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.estimatedRehab
                                                        | number
                                                }}</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.emdRequirement
                                                        | number
                                                }}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <ul class="list-inline-item">
                                        <li><p>offerContact :</p></li>
                                        <li><p>viewingContact :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.offerContact
                                                }}</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.viewingContact
                                                }}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <ul class="list-inline-item">
                                        <li><p>Property Type :</p></li>
                                        <li><p>Property Status :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.propertyTypeName
                                                }}</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.propertyStatus == 0
                                                        ? "For Rent"
                                                        : "For Sale"
                                                }}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="additional_details">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb15">Additional details</h4>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <ul class="list-inline-item">
                                        <li><p>Property Specs :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li>
                                            <p>
                                                <span>{{
                                                    detail?.property
                                                        ?.propertySpecs
                                                }}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="additional_details">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb15">Contact details</h4>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <ul class="list-inline-item">
                                        <li><p>Contact 1:</p></li>
                                        <li><p>Contact 2 :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li>
                                            <p><span>555 555555</span></p>
                                        </li>
                                        <li>
                                            <p><span>9234715681</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
